<div>
    I worked at American Apparel for 3 years. <br>
    While it was web-dev work experience, it was on a legacy CMS called ATG.
    <br><br>
    I did not start working with web 2.0 technologies until my time at VER.

</div>
