
<div class="header">
  <div class="main">Matt DeVoss</div>
  <div class="sub">Web Developer - Workflow Engineer</div>
</div>

<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid tabular menu">

            <div style="margin-top: 20px;">
                <div class="menu">
                    {{#link-to "summary" class="item"}}Token CV{{/link-to}}
                </div>
            </div>

            <div>
                <h2 class="ui tiny header">Work Experience</h2>
                <div class="menu">
                    {{#link-to "ver" class="item"}}VER{{/link-to}}
                    {{#link-to "americanapparel" class="item"}}American Apparel{{/link-to}}
                </div>
            </div>

            <div>
                <h2 class="ui tiny header">About Me</h2>
                <div class="menu">
                    {{#link-to "education" class="item"}}Education{{/link-to}}
                    {{#link-to "skills" class="item"}}Web Skills{{/link-to}}
                    {{#link-to "interests" class="item"}}Interests{{/link-to}}
                    {{#link-to "influences" class="item"}}Influences{{/link-to}}
                </div>
            </div>


        </div>
    </div>
    <div class="twelve wide stretched column">
        {{outlet}}
    </div>
</div>
