<div>Cal Poly</div>
<div>

    https://www.google.com/maps/@35.3002124,-120.6620122,3a,75y,98.34h,84.52t/data=!3m8!1e1!3m6!1sAF1QipOQpbPoQNOlunfC9sBArw3bn0j_bQ6FKPF6-PO7!2e10!3e11!6shttps:%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipOQpbPoQNOlunfC9sBArw3bn0j_bQ6FKPF6-PO7%3Dw203-h100-k-no-pi-0-ya310.62622-ro0-fo100!7i7680!8i3840

</div>
<div>
    api key: AIzaSyDEVp1igOREIDYfU0Omf8FIfdMiVH6u4Zk
</div>

<div style="height: 400px;" class="googleMap">
    {{street-view lat="35.3002124" lng="-120.6620122"}}
</div>
