
    <div class="school-info"> <!-- TODO; Add Mobile Rule to lower this below image. -->

        <div class="ui card">
            <div class="image">
                <img src="/nd_baseball.jpg" class="visible content">
            </div>


            <div class="card-info">
                <div class="ui header">
                    HIGH SCHOOL
                </div>

                <div class="stats">
                    <div>3rd BASE</div>
                    <div>NOTRE DAME</div>
                </div>

                <div class="stats">
                    <div>Ht: 6'5"</div>
                    <div>Wt: 201</div>
                </div>

                <div class="stats">
                    <div>Years active: '02 - '06</div>
                </div>

                <div class="stats">
                    <div><a target="_blank" href="https://www.google.com/search?q=notre+dame+high+school+sherman+oaks&oq=notre+dame">School Info</a></div>
                </div>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="/college_matt2.jpg" class="visible content">
            </div>


            <div class="card-info">
                <div class="ui header">
                    COLLEGE
                </div>

                <div class="stats">
                    <div>BS: EE </div>
                    <div>CAL POLY SLO</div>
                </div>

                <div class="stats">
                    <div>Study Abroad: SPAIN</div>
                </div>

                <div class="stats">
                    <div>Years active: '06 - '11</div>
                </div>

                <div class="stats">
                    <div><a target="_blank" href="https://www.calpoly.edu/">School Info</a></div>
                </div>
            </div>
        </div>

        <div class="ui card">
            <div class="image">
                <img src="/college_matt2.jpg" class="visible content">
            </div>


            <div class="card-info">
                <div class="ui header">
                    BUSINESS OWNER
                </div>

                <div class="stats">
                    <div>North Hills CrossFit</div>
                </div>

                <div class="stats">
                    <div>2015 - 2017 :(</div>
                </div>

                <div class="stats">
                    <div>In leiu of an MBA I tried to run a retail store</div>
                </div>
            </div>
        </div>

    </div>

