
<div class="notre-dame">

    <!--&lt;!&ndash; Absolutly Positioned&ndash;&gt;-->
    <!--<div class="baseball-photo">-->
        <!--<img src="/nd_baseball.jpg"/>-->
    <!--</div>-->
    <!--&lt;!&ndash; Absolutly Positioned&ndash;&gt;-->



    <div class="school-info"> <!-- TODO; Add Mobile Rule to lower this below image. -->

        <div class="ui card">
            <div class="image">
                <img src="/nd_baseball.jpg" class="visible content">
            </div>
            <div class="content">
                <a class="header">MATT DEVOSS</a>
                <div class="meta">
                    <span class="date">3rd BASE</span>
                </div>
            </div>
            <div class="extra content">
                <div>

                </div>
            </div>
        </div>





        <!--<div class="ui inverted raised segment">-->
            <!--<div class="ui medium header">-->
                <!--I graduated from Notre Dame HS in Sherman Oaks.-->
            <!--</div>-->
            <!--<div class="ui medium header">-->
                <!--It was a great school, I played baseball!-->
            <!--</div>-->
        <!--</div>-->
    </div>




</div>
