<div class="ui segments">
    <div class="ui inverted segment">
        Ember.js
    </div>
    <div class="ui inverted segment">
        LESS
    </div>
    <div class="ui inverted segment">
        HTML 5 / CSS3 / Javascript ES2016
    </div>
    <div class="ui inverted segment">
        LESS
    </div>
</div>
