
    <div class="skills ui inverted segment">
        <div class="ui inverted message">
            <div class="header">
                <a target="_blank" href="https://emberjs.com/">Ember.js</a>
            </div>
            <div class="description">
                A framework for creating ambitious web applications
            </div>
            <div class="description">
                Licensed under <a target="_blank" href="https://raw.githubusercontent.com/emberjs/ember.js/master/LICENSE">Ember License</a>
            </div>
        </div>

        <div class="ui inverted message">
            <div class="header">
                <a target="_blank" href="http://lesscss.org/">Less.js</a>
            </div>
            <div class="description">
                Less is a CSS pre-processor, meaning it extends the CSS language, adding features that allow variables, mixins, functions and many other techniques to make CSS that is more maintainable, themeable and extendable.
            </div>
            <div class="description">
                Licensed under <a target="_blank" href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2 License</a>
            </div>
        </div>

        <div class="ui inverted message">
            <div class="header">
                <a target="_blank" href="https://semantic-ui.com/">Semantic UI</a>
            </div>
            <div class="description">
                Semantic is a development framework that helps create beautiful, responsive layouts using human-friendly HTML.
            </div>
            <div class="description">
                Licensed under <a target="_blank" href="https://opensource.org/licenses/MIT">MIT License</a>
            </div>
        </div>

        <div class="ui inverted message">
            <div class="header">
                <a target="_blank" href="http://fabricjs.com/">Fabric.js</a>
            </div>
            <div class="description">
                Fabric.js is a powerful and simple Javascript HTML5 canvas library
            </div>
            <div class="description">
                Licensed under <a target="_blank" href="https://opensource.org/licenses/MIT">MIT License</a>
            </div>
        </div>

        <div class="ui inverted message">
            <div class="header">
                <a target="_blank" href="http://blanketjs.org/">Blanket.js</a>
            </div>
            <div class="description">
                Blanket.js is an easy to install, easy to configure, and easy to use JavaScript code coverage library that works both in-browser and with nodejs
            </div>
            <div class="description">
                Licensed under <a target="_blank" href="https://opensource.org/licenses/MIT">MIT License</a>
            </div>
        </div>

        <div class="ui inverted message">
            <div class="header">
                <a target="_blank" href="https://qunitjs.com/">QUnit</a>
            </div>
            <div class="description">
                QUnit is a powerful, easy-to-use JavaScript unit testing framework
            </div>
            <div class="description">
                Licensed under <a target="_blank" href="https://opensource.org/licenses/MIT">MIT License</a>
            </div>
        </div>

    </div>
