<div>
    I conduct user tests and identify what users struggle with.<br>
    Next, I design and implement simpler solutions, then user test again!
    <br><br><br>
    (Show VER gif before, with comments)<br>
    (After gif) Layout Assistant?
</div>
