<div class="ver">

    <div class="ui medium header">Design</div>
    <div class="ui tiny header">
        VER specializes in high quality, custom LED screens.
        At VER I conduct user-tests on our web-apps
        (like the &lt;iframe&gt; below) and try implement easier solutions.
    </div>
    <div class="design-wrap">
        <iframe id="frame" src="http://www.ver.com/ledinstall-configurator/"></iframe>
    </div>

    <div class="ui medium header">Build</div>
    <div class="ui tiny header">
        While the crew builds the rig for the show,
        We write and develop software to
        control and customize the display to any environment.
    </div>
    <div class="build-wrap"></div>


    <div class="ui medium header">Rock!</div>
    <div class="ui tiny header">
        All our apps were created with Ember.js, but I would love to learn another language!
        I have been working at VER since Feb. '16, and am currently working on some nifty apps
    </div>
    <div class="rock-wrap"></div>


</div>
